{%  extends 'base.html' %}

{%  block content %}
    <div class="games">
        {% if type=='stream' %}
        <h3>Game - {{ data.content_title }} | Player - {{ data.player_id }}</h3>
        {% else %}
        <h4>Game - {{ data.content_title }}</h4>
        {% endif %}
        {% if type=='stream' %}
            <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" autoplay="play"
                   controls data-setup='{ "preload":"auto"}' width="800px" height="500px">
            <source src="{{ data.content_url }}" type="application/x-mpegURL" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a>
            </p>
          </video>
        {% else %}
            <img  class="img__medium" src="{{ data.img_url }}">
        {% endif %}
    </div>
    <div class="content__info">
        <div class="content__details">
            {% if type=='stream' %}
                <h4>串流內容</h4>
                <div class="content__data content-sub">Player - {{ data.player_info }} - {{ data.player_id }}</div>
                <div class="content__data">Description - Plain text, Plain-text, or Plaintext is any text, text file, or document that contains only text. Unlike a rich-text document, a plain text file cannot have bold text, fonts, larger font sizes, or any other special text formatting. The picture is a visual example of plain text vs. formatted text.</div>
            {% else %}
                <h4>遊戲內容</h4>
                <div class="content__data">Type - {{ data.content_type }}</div>
                <div class="content__data">Description - {{ data.content_brief }}</div>
                 <div class="content__data">Plain text, Plain-text, or Plaintext is any text, text file, or document that contains only text. Unlike a rich-text document, a plain text file cannot have bold text, fonts, larger font sizes, or any other special text formatting. The picture is a visual example of plain text vs. formatted text.</div>
            {% endif %}
        </div>
    </div>

{%  endblock %}


