{%  extends 'base.html' %}

{%  block content %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{{ url_for('static', filename='/games_icon/gunjack_banner.png') }}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{{ url_for('static', filename='/games_icon/redout_banner.jpg') }}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{{ url_for('static', filename='/games_icon/nvidia_funhouse_banner.jpg') }}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </a>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Recently</h1>
        <a href="{{ url_for('portal.popular_page') }}"> View more >></a>
    </div>
    <div class="card-container container-md">
    {% if games is not none %}
    {% for key, game in games.items() %}

        <div class="card" onclick="javascript:location.href='{{ url_for("portal.portal_games", game_id=game.content_id) }}'">
          <img src="{{ game.img_url }}" class="card-img" alt="...">
          <div class="card-body">
              <div class="card-game-title">{{ game.content_title }}</div>
              <div class="card-game-description">{{ game.content_type }}</div>
          </div>
        </div>
    {% endfor %}
    {% endif %}
    {% if apps is not none %}
    {% for key, app in apps.items() %}
        <div class="card" onclick="javascript:location.href='{{ url_for("portal.portal_apps", app_id=app.content_id) }}'">
          <img src="{{ app.img_url }}" class="card-img" alt="...">
          <div class="card-body">
              <div class="card-game-title">{{ app.content_title }}</div>
              <div class="card-game-description">{{ app.content_type }}</div>
          </div>
        </div>

    {% endfor %}
    {% endif %}
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         <h1 class="h2">Live</h1>
        <a href="{{ url_for('portal.stream_page') }}"> View more >></a>
    </div>
    <div class="card-container container-md">
    {% if streams is not none %}
    {% for key, stream in streams.items() %}
        <div class="card" onclick="javascript:location.href='{{ url_for("portal.portal_streams", stream_id=stream.content_id) }}'">
            <video class="video-js vjs-default-skin card-img" data-setup='{"autoplay": true, "preload":"auto"}' >
{#            <video class="video-js vjs-default-skin card-img" preload="auto" data-setup='{ "poster":"{{ stream.img_url }}"}' >#}
                <source src="{{ stream.content_url }}" type="application/x-mpegURL" />
            </video>
{#             <iframe  height="120px" src="{{ stream.content_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
            <div class="card-body">
                <div class="card-game-title">{{ stream.content_title }}</div>
                <div class="card-game-description">{{ stream.player_info }} is on live show</div>
            </div>
        </div>

    {% endfor %}
    {% endif %}
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">New Games</h1>
        <a href="{{ url_for('portal.game_page') }}"> View more >></a>
    </div>
    <div class="card-container container-md">
    {% if games is not none %}
    {% for key, game in games.items() %}
        <div class="card" onclick="javascript:location.href='{{ url_for("portal.portal_games", game_id=game.content_id) }}'">
          <img src="{{ game.img_url }}" class="card-img" alt="...">
          <div class="card-body">
              <div class="card-game-title">{{ game.content_title }}</div>
              <div class="card-game-description">{{ game.content_type }}</div>
          </div>
        </div>

    {% endfor %}
    {% endif %}
    </div>

{%  endblock %}